Practice/.ipynb_checkpoints/Practice 1-checkpoint.ipynb
Practice/.ipynb_checkpoints/Practice 1-Copy1-checkpoint.ipynb
Practice/.ipynb_checkpoints/Practice 1-Copy2-checkpoint.ipynb
Practice/Practice 2/purchase_log.txt
Practice/Practice 2/visit_log.csv
Practice/Practice 2/.ipynb_checkpoints/Practice 2-checkpoint.ipynb
Practice/Practice 2.rar
Laboratory Works/libs/desktop.ini
Laboratory Works/libs/__pycache__/desktop.ini
Laboratory Works/ml-25m.zip
Laboratory Works/Lab 1/1 задание Пункт 2.png
Laboratory Works/Lab 1/1 задание.png
Laboratory Works/Lab 1/2 задание.png
Laboratory Works/Lab 1/3 задание.png
Laboratory Works/Lab 1/4 задание.png
Laboratory Works/Lab 1/5 задание.png
Laboratory Works/Lab 1/6 задание.png
Laboratory Works/Lab 1/7 задание.png
Laboratory Works/Lab 1/GitBranch Remote.png
Laboratory Works/Lab 1/GitBranch.png
Laboratory Works/Lab 6/genome-scores.csv
Laboratory Works/Lab 6/genome-tags.csv
Laboratory Works/Lab 6/keywords.csv
Laboratory Works/Lab 6/links.csv
Laboratory Works/Lab 6/movies.csv
Laboratory Works/Lab 6/power.csv
Laboratory Works/Lab 6/ratings.csv
Laboratory Works/Lab 6/README.txt
Laboratory Works/Lab 6/tags.csv
Laboratory Works/Lab 6/transactions.csv
Laboratory Works/Laboratory1/.gitkeeps
Laboratory Works/Laboratory1/1 задание Пункт 2.png
Laboratory Works/Laboratory1/1 задание.png
Laboratory Works/Laboratory1/2 задание.png
Laboratory Works/Laboratory1/3 задание.png
Laboratory Works/Laboratory1/4 задание.png
Laboratory Works/Laboratory1/5 задание.png
Laboratory Works/Laboratory1/6 задание.png
Laboratory Works/Laboratory1/7 задание.png
Laboratory Works/Laboratory1/GitBranch Remote.png
Laboratory Works/Laboratory1/GitBranch.png
Study material/8. Python class.ipynb
Study material/10 Pandas/Python_10_pandas_basics.ipynb
Study material/10 Pandas/Python_10_pandas_presentation_mode.ipynb
Study material/10 Pandas/.ipynb_checkpoints/Python_10_pandas_basics-checkpoint.ipynb
Study material/10 Pandas/.ipynb_checkpoints/Python_10_pandas_presentation_mode-checkpoint.ipynb
Study material/12._Python_12_pivot_and_str/data.tsv
Study material/12._Python_12_pivot_and_str/keywords.csv
Study material/12._Python_12_pivot_and_str/pandas_vs_set_and_dict.ipynb
Study material/12._Python_12_pivot_and_str/Python_12_pivot_and_str.ipynb
Study material/12._Python_12_pivot_and_str/URLs.txt
Study material/12._Python_12_pivot_and_str/visit_log.csv
Study material/12._Python_12_pivot_and_str/ml-latest-small/links.csv
Study material/12._Python_12_pivot_and_str/ml-latest-small/movies.csv
Study material/12._Python_12_pivot_and_str/ml-latest-small/ratings.csv
Study material/12._Python_12_pivot_and_str/ml-latest-small/README.txt
Study material/12._Python_12_pivot_and_str/ml-latest-small/tags.csv
Study material/5. Read-write and pip/5. Read-write and pip.ipynb
Study material/5. Read-write and pip/data.pickle
Study material/5. Read-write and pip/purchase_log.txt
Study material/5. Read-write and pip/results_context.csv
Study material/5. Read-write and pip/results.csv
Study material/5. Read-write and pip/visits_context.csv
Study material/5. Read-write and pip/.ipynb_checkpoints/5. Read-write and pip-checkpoint.ipynb
Study material/5. Read-write and pip/__MACOSX/._5. ¦а¦-¦-¦-TВ¦- TБ TД¦-¦¬¦Ж¦¬¦-¦-¦¬ ¦¬ ¦¬¦-¦¦¦¦TВ¦-¦-¦¬.pptx
Study material/5. Read-write and pip/__MACOSX/._purchase_log.txt
Study material/5. Read-write and pip/__MACOSX/._visit_log.csv
Study material/5. Read-write and pip/__MACOSX/data/._file_1.csv
Study material/5. Read-write and pip/__MACOSX/data/._file_2.csv
Study material/5. Read-write and pip/__MACOSX/data/._file_3.csv
Study material/5. Read-write and pip/__MACOSX/data/more_data/._file_4.csv
Study material/5. Read-write and pip/__MACOSX/data/more_data/._file_5.csv
Study material/5. Read-write and pip/__MACOSX/libs/._useful_codes.py
Study material/5. Read-write and pip/data/file_1.csv
Study material/5. Read-write and pip/data/file_2.csv
Study material/5. Read-write and pip/data/file_3.csv
Study material/5. Read-write and pip/data/more_data/file_4.csv
Study material/5. Read-write and pip/data/more_data/file_5.csv
Study material/5. Read-write and pip/libs/useful_codes.py
Study material/5. Read-write and pip/libs/__pycache__/useful_codes.cpython-36.pyc
Study material/5. Read-write and pip/libs/__pycache__/useful_codes.cpython-37.pyc
Study material/5. Read-write and pip/libs/__pycache__/useful_codes.cpython-38.pyc
Study material/Lab8/PYDA-viz.ipynb
Study material/Lab8/video_games_sales.csv
Study material/Lab8/names/NationalReadMe.pdf
Study material/Lab8/names/yob1880.txt
Study material/Lab8/names/yob1881.txt
Study material/Lab8/names/yob1882.txt
Study material/Lab8/names/yob1883.txt
Study material/Lab8/names/yob1884.txt
Study material/Lab8/names/yob1885.txt
Study material/Lab8/names/yob1886.txt
Study material/Lab8/names/yob1887.txt
Study material/Lab8/names/yob1888.txt
Study material/Lab8/names/yob1889.txt
Study material/Lab8/names/yob1890.txt
Study material/Lab8/names/yob1891.txt
Study material/Lab8/names/yob1892.txt
Study material/Lab8/names/yob1893.txt
Study material/Lab8/names/yob1894.txt
Study material/Lab8/names/yob1895.txt
Study material/Lab8/names/yob1896.txt
Study material/Lab8/names/yob1897.txt
Study material/Lab8/names/yob1898.txt
Study material/Lab8/names/yob1899.txt
Study material/Lab8/names/yob1900.txt
Study material/Lab8/names/yob1901.txt
Study material/Lab8/names/yob1902.txt
Study material/Lab8/names/yob1903.txt
Study material/Lab8/names/yob1904.txt
Study material/Lab8/names/yob1905.txt
Study material/Lab8/names/yob1906.txt
Study material/Lab8/names/yob1907.txt
Study material/Lab8/names/yob1908.txt
Study material/Lab8/names/yob1909.txt
Study material/Lab8/names/yob1910.txt
Study material/Lab8/names/yob1911.txt
Study material/Lab8/names/yob1912.txt
Study material/Lab8/names/yob1913.txt
Study material/Lab8/names/yob1914.txt
Study material/Lab8/names/yob1915.txt
Study material/Lab8/names/yob1916.txt
Study material/Lab8/names/yob1917.txt
Study material/Lab8/names/yob1918.txt
Study material/Lab8/names/yob1919.txt
Study material/Lab8/names/yob1920.txt
Study material/Lab8/names/yob1921.txt
Study material/Lab8/names/yob1922.txt
Study material/Lab8/names/yob1923.txt
Study material/Lab8/names/yob1924.txt
Study material/Lab8/names/yob1925.txt
Study material/Lab8/names/yob1926.txt
Study material/Lab8/names/yob1927.txt
Study material/Lab8/names/yob1928.txt
Study material/Lab8/names/yob1929.txt
Study material/Lab8/names/yob1930.txt
Study material/Lab8/names/yob1931.txt
Study material/Lab8/names/yob1932.txt
Study material/Lab8/names/yob1933.txt
Study material/Lab8/names/yob1934.txt
Study material/Lab8/names/yob1935.txt
Study material/Lab8/names/yob1936.txt
Study material/Lab8/names/yob1937.txt
Study material/Lab8/names/yob1938.txt
Study material/Lab8/names/yob1939.txt
Study material/Lab8/names/yob1940.txt
Study material/Lab8/names/yob1941.txt
Study material/Lab8/names/yob1942.txt
Study material/Lab8/names/yob1943.txt
Study material/Lab8/names/yob1944.txt
Study material/Lab8/names/yob1945.txt
Study material/Lab8/names/yob1946.txt
Study material/Lab8/names/yob1947.txt
Study material/Lab8/names/yob1948.txt
Study material/Lab8/names/yob1949.txt
Study material/Lab8/names/yob1950.txt
Study material/Lab8/names/yob1951.txt
Study material/Lab8/names/yob1952.txt
Study material/Lab8/names/yob1953.txt
Study material/Lab8/names/yob1954.txt
Study material/Lab8/names/yob1955.txt
Study material/Lab8/names/yob1956.txt
Study material/Lab8/names/yob1957.txt
Study material/Lab8/names/yob1958.txt
Study material/Lab8/names/yob1959.txt
Study material/Lab8/names/yob1960.txt
Study material/Lab8/names/yob1961.txt
Study material/Lab8/names/yob1962.txt
Study material/Lab8/names/yob1963.txt
Study material/Lab8/names/yob1964.txt
Study material/Lab8/names/yob1965.txt
Study material/Lab8/names/yob1966.txt
Study material/Lab8/names/yob1967.txt
Study material/Lab8/names/yob1968.txt
Study material/Lab8/names/yob1969.txt
Study material/Lab8/names/yob1970.txt
Study material/Lab8/names/yob1971.txt
Study material/Lab8/names/yob1972.txt
Study material/Lab8/names/yob1973.txt
Study material/Lab8/names/yob1974.txt
Study material/Lab8/names/yob1975.txt
Study material/Lab8/names/yob1976.txt
Study material/Lab8/names/yob1977.txt
Study material/Lab8/names/yob1978.txt
Study material/Lab8/names/yob1979.txt
Study material/Lab8/names/yob1980.txt
Study material/Lab8/names/yob1981.txt
Study material/Lab8/names/yob1982.txt
Study material/Lab8/names/yob1983.txt
Study material/Lab8/names/yob1984.txt
Study material/Lab8/names/yob1985.txt
Study material/Lab8/names/yob1986.txt
Study material/Lab8/names/yob1987.txt
Study material/Lab8/names/yob1988.txt
Study material/Lab8/names/yob1989.txt
Study material/Lab8/names/yob1990.txt
Study material/Lab8/names/yob1991.txt
Study material/Lab8/names/yob1992.txt
Study material/Lab8/names/yob1993.txt
Study material/Lab8/names/yob1994.txt
Study material/Lab8/names/yob1995.txt
Study material/Lab8/names/yob1996.txt
Study material/Lab8/names/yob1997.txt
Study material/Lab8/names/yob1998.txt
Study material/Lab8/names/yob1999.txt
Study material/Lab8/names/yob2000.txt
Study material/Lab8/names/yob2001.txt
Study material/Lab8/names/yob2002.txt
Study material/Lab8/names/yob2003.txt
Study material/Lab8/names/yob2004.txt
Study material/Lab8/names/yob2005.txt
Study material/Lab8/names/yob2006.txt
Study material/Lab8/names/yob2007.txt
Study material/Lab8/names/yob2008.txt
Study material/Lab8/names/yob2009.txt
Study material/Lab8/names/yob2010.txt
Study material/Lab8/names/yob2011.txt
Study material/Lab8/names/yob2012.txt
Study material/Lab8/names/yob2013.txt
Study material/Lab8/names/yob2014.txt
Study material/Lab8/names/yob2015.txt
Study material/Lab8/names/yob2016.txt
Study material/Lab8/names/yob2017.txt
Study material/Python_7_errors_datetime/Практика.ipynb
Study material/Python_7_errors_datetime/logs.csv
Study material/Python_7_errors_datetime/Python_7_errors_datetime.ipynb
Study material/Python_7_errors_datetime/real_data.txt
Study material/Python_7_errors_datetime/.ipynb_checkpoints/Python_7_errors_datetime-checkpoint.ipynb
