Practice/.ipynb_checkpoints/Practice 1-checkpoint.ipynb
Practice/.ipynb_checkpoints/Practice 1-Copy1-checkpoint.ipynb
Practice/.ipynb_checkpoints/Practice 1-Copy2-checkpoint.ipynb
Practice/Practice 2/purchase_log.txt
Practice/Practice 2/visit_log.csv
Practice/Practice 2/.ipynb_checkpoints/Practice 2-checkpoint.ipynb
Practice/Practice 2.rar
Laboratory Works/libs/desktop.ini
Laboratory Works/libs/__pycache__/desktop.ini
