Practice/.ipynb_checkpoints/Practice 1-checkpoint.ipynb
Practice/.ipynb_checkpoints/Practice 1-Copy1-checkpoint.ipynb
Practice/.ipynb_checkpoints/Practice 1-Copy2-checkpoint.ipynb
Practice/Practice 2/purchase_log.txt
Practice/Practice 2/visit_log.csv
Practice/Practice 2/.ipynb_checkpoints/Practice 2-checkpoint.ipynb
Practice/Practice 2.rar
Laboratory Works/libs/desktop.ini
Laboratory Works/libs/__pycache__/desktop.ini
Laboratory Works/ml-25m.zip
Laboratory Works/Lab 1/1 задание Пункт 2.png
Laboratory Works/Lab 1/1 задание.png
Laboratory Works/Lab 1/2 задание.png
Laboratory Works/Lab 1/3 задание.png
Laboratory Works/Lab 1/4 задание.png
Laboratory Works/Lab 1/5 задание.png
Laboratory Works/Lab 1/6 задание.png
Laboratory Works/Lab 1/7 задание.png
Laboratory Works/Lab 1/GitBranch Remote.png
Laboratory Works/Lab 1/GitBranch.png
Laboratory Works/Lab 6/genome-scores.csv
Laboratory Works/Lab 6/genome-tags.csv
Laboratory Works/Lab 6/keywords.csv
Laboratory Works/Lab 6/links.csv
Laboratory Works/Lab 6/movies.csv
Laboratory Works/Lab 6/power.csv
Laboratory Works/Lab 6/ratings.csv
Laboratory Works/Lab 6/README.txt
Laboratory Works/Lab 6/tags.csv
Laboratory Works/Lab 6/transactions.csv
Laboratory Works/Laboratory1/.gitkeeps
Laboratory Works/Laboratory1/1 задание Пункт 2.png
Laboratory Works/Laboratory1/1 задание.png
Laboratory Works/Laboratory1/2 задание.png
Laboratory Works/Laboratory1/3 задание.png
Laboratory Works/Laboratory1/4 задание.png
Laboratory Works/Laboratory1/5 задание.png
Laboratory Works/Laboratory1/6 задание.png
Laboratory Works/Laboratory1/7 задание.png
Laboratory Works/Laboratory1/GitBranch Remote.png
Laboratory Works/Laboratory1/GitBranch.png
